<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" type="image/png" href="favicon.ico">

        <link rel="stylesheet" href="res/bootstrap.min.css">
        <script src="res/jquery.min.js"></script>
        <script src="res/popper.min.js"></script>
        <script src="res/bootstrap.min.js"></script>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <script src="res/angular.min.js"></script>
        <script src="res/angular-cookies.js"></script>

        <script src="res/bootstrap-datepicker.js"></script>
        <link rel="stylesheet" href="res/datepicker.css">
        <link rel="stylesheet" href="res/timepicker.css">
        <script src="res/timepicker.js"></script>

        <script src="res/jQuery.print.js"></script>
        
        <link rel="stylesheet" href="res/bootstrap-colorselector.min.css">
        <script src="res/bootstrap-colorselector.min.js"></script>

        <link rel="stylesheet" href="res/telefyna.css">
        <script src="res/telefyna.js"></script>

        <title>Configuring Telefyna</title>
    </head>
    <body ng-app="Telefyna" ng-controller="Config" center-block>
        <div>
            <div>
                <h3>|Configuring|</h3>
                <img class="logo" src="telefyna.png" alt="Telefyna Icon" width="155" height="140"><br>
                <label class="slogan">The best, simplest performing online stream & local file scheduling auto player for TV broadcasting</label>
            </div>
            <!-- Other configurations before playlists-->
            <div class="section">
                <label class="checkbox-inline">Last Modified: <b>{{config.lastModified}}</b></label>
                <div class="section action">
                    Name
                    <input type="text" class="form-control flex-wrap" ng-model="config.name" ng-change="modify()">
                </div>
                <div class="section action">
                    Version
                    <input type="text" class="form-control flex-wrap" ng-model="config.version" ng-change="modify()">
                </div>
                <div class="form-check form-switch">
                    <label class="checkbox-inline"><input type="checkbox" ng-model="config.automationDisabled" ng-change="modify()"> Disable Automation</label>
                </div>
                <div class="form-check form-switch">
                    <label class="checkbox-inline"><input type="checkbox" ng-model="config.notificationsDisabled" ng-change="modify()"> Disable Notifications</label>
                </div>
                <div class="action">
                    <!-- Create -->
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#add">Create Playlist</button>
                    <div class="modal fade action-content" id="add" role="dialog">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                          <form class="modal-content" ng-submit="add()">
                            <div class="modal-header">
                              <h5 class="modal-title">Create a new Playlist</h5>
                            </div>
                            <div class="modal-body">
                                <div class="alert alert-danger section action" role="alert" ng-show="error">
                                    {{error}}
                                </div>
                                <div class="section action">
                                    <label class="checkbox-inline"><input type="checkbox" ng-model="playlist.active"> Active</label>
                                </div>
                                <div class="section action">
                                    * Name *
                                    <input type="text" class="form-control" required ng-model="playlist.name">
                                </div>
                                <div class="section action">
                                    Description
                                    <input type="text" class="form-control" ng-model="playlist.description">
                                </div>
                                <div class="section action">
                                    * Type *
                                    <select class="form-control multiselect-ui" required ng-model="playlist.type">
                                        <option value="ONLINE">Online Stream</option>
                                        <option value="LOCAL_SEQUENCED">Local sequenced folder</option>
                                        <option value="LOCAL_RANDOMIZED">Local random folder</option>
                                        <option value="LOCAL_RESUMING">Local resuming folder</option>
                                        <option value="LOCAL_RESUMING_SAME">Local same resuming folder</option>
                                        <option value="LOCAL_RESUMING_NEXT">Local next resuming folder</option>
                                    </select>
                                </div>
                                <div class="section action">
                                    Color
                                    <select class="color-selector" ng-model="playlist.color">
                                        <option value="#00cc99" data-color="#00cc99"></option>
                                        <option value="#00ccff" data-color="#00ccff"></option>
                                        <option value="#6666ff" data-color="#6666ff"></option>
                                        <option value="#ccffff" data-color="#ccffff"></option>
                                        <option value="#ffff66" data-color="#ffff66"></option>
                                        <option value="#66ff33" data-color="#66ff33"></option>
                                        <option value="#ff6600" data-color="#ff6600"></option>
                                        <option value="#ff33cc" data-color="#ff33cc"></option>
                                        <option value="#666699" data-color="#666699"></option>
                                        <option value="#e0ebeb" data-color="#e0ebeb"></option>
                                        <option value="#990099" data-color="#990099"></option>
                                        <option value="#993333" data-color="#993333"></option>
                                        <option value="#808080" data-color="#808080"></option>
                                        <option value="#ccccff" data-color="#ccccff"></option>
                                        <option value="#336600" data-color="#336600"></option>
                                        <option value="#99ff99" data-color="#99ff99"></option>
                                        <option value="#66ffcc" data-color="#66ffcc"></option>
                                        <option value="#ccffcc" data-color="#ccffcc"></option>
                                        <option value="#ffccff" data-color="#ffccff"></option>
                                    </select>
                                </div>
                                <div class="section action">
                                    * Stream URL Or Local folder name *
                                    <input type="text" class="form-control" required ng-model="playlist.urlOrFolder">
                                </div>
                                <div class="section action">
                                    <label class="checkbox-inline"><input type="checkbox" ng-model="playlist.playingGeneralBumpers"> Playing General Bumpers</label>
                                </div>
                                <div class="section action">
                                    Special Bumper folder name
                                    <input type="text" class="form-control" ng-model="playlist.specialBumperFolder">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-info" ng-click="clear()">Clear</button>
                                <button type="button" class="btn btn-danger" id="close-add" data-dismiss="modal" ng-click="clear()">Cancel</button>
                                <button type="submit" class="btn btn-success">Add</button>
                            </div>
                        </form>
                        </div>
                      </div>

                    <!-- Edit -->
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#edit" ng-disabled="config.playlists.length == 0">Edit Playlist</button>
                    <div class="modal fade action-content" id="edit" role="dialog">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                          <form class="modal-content" ng-submit="revise()">
                            <div class="modal-header">
                              <h5 class="modal-title">Edit an existing Playlist</h5>
                            </div>
                            <div class="modal-body">
                                <div class="alert alert-danger section action" role="alert" ng-show="error">
                                    {{error}}
                                </div>
                                <div class="section action">
                                    * Select Playlist to edit *
                                    <select class="form-control" required ng-model="edit" ng-change="renderEdit()">
                                        <option ng-repeat="p in config.playlists" ng-if="isNotClone(p)" value="{{$index}}">{{name($index, true)}}</option>
                                    </select>
                                </div>
                                <div class="section action">
                                    <label class="checkbox-inline"><input type="checkbox" ng-model="playlist.active"> Active</label>
                                </div>
                                <div class="section action">
                                    * Name *
                                    <input type="text" class="form-control" required ng-model="playlist.name">
                                </div>
                                <div class="section action">
                                    Description
                                    <input type="text" class="form-control" ng-model="playlist.description">
                                </div>
                                <div class="section action">
                                    * Type *
                                    <select class="form-control multiselect-ui" required ng-model="playlist.type">
                                        <option value="ONLINE">Online Stream</option>
                                        <option value="LOCAL_SEQUENCED">Local sequenced folder</option>
                                        <option value="LOCAL_RANDOMIZED">Local random folder</option>
                                        <option value="LOCAL_RESUMING">Local resuming folder</option>
                                        <option value="LOCAL_RESUMING_SAME">Local same resuming folder</option>
                                        <option value="LOCAL_RESUMING_NEXT">Local next resuming folder</option>
                                    </select>
                                </div>
                                <div class="section action"  id="edit-color">
                                    Color
                                    <select class="color-selector" ng-model="playlist.color">
                                        <option value="#00cc99" data-color="#00cc99"></option>
                                        <option value="#00ccff" data-color="#00ccff"></option>
                                        <option value="#6666ff" data-color="#6666ff"></option>
                                        <option value="#ccffff" data-color="#ccffff"></option>
                                        <option value="#ffff66" data-color="#ffff66"></option>
                                        <option value="#66ff33" data-color="#66ff33"></option>
                                        <option value="#ff6600" data-color="#ff6600"></option>
                                        <option value="#ff33cc" data-color="#ff33cc"></option>
                                        <option value="#666699" data-color="#666699"></option>
                                        <option value="#e0ebeb" data-color="#e0ebeb"></option>
                                        <option value="#990099" data-color="#990099"></option>
                                        <option value="#993333" data-color="#993333"></option>
                                        <option value="#808080" data-color="#808080"></option>
                                        <option value="#ccccff" data-color="#ccccff"></option>
                                        <option value="#336600" data-color="#336600"></option>
                                        <option value="#99ff99" data-color="#99ff99"></option>
                                        <option value="#66ffcc" data-color="#66ffcc"></option>
                                        <option value="#ccffcc" data-color="#ccffcc"></option>
                                        <option value="#ffccff" data-color="#ffccff"></option>
                                    </select>
                                </div>
                                <div class="section action">
                                    * Stream URL Or Local folder name *
                                    <input type="text" class="form-control" required ng-model="playlist.urlOrFolder">
                                </div>
                                <div class="section action">
                                    <label class="checkbox-inline"><input type="checkbox" ng-model="playlist.playingGeneralBumpers"> Playing General Bumpers</label>
                                </div>
                                <div class="section action">
                                    Special Bumper folder name
                                    <input type="text" class="form-control" ng-model="playlist.specialBumperFolder">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-info" ng-click="clear()">Clear</button>
                                <button type="button" class="btn btn-danger" id="close-edit" data-dismiss="modal" ng-click="clear()">Cancel</button>
                                <button type="submit" class="btn btn-success">Save</button>
                            </div>
                        </form>
                        </div>
                      </div>

                    <!-- Schedule/Copy -->
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#clone" ng-disabled="config.playlists.length == 0">Schedule Playlist</button>
                    <div class="modal fade action-content" id="clone" role="dialog">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                          <form class="modal-content" ng-submit="clone()">
                            <div class="modal-header">
                              <h5 class="modal-title">Schedule an existing Playlist</h5>
                            </div>
                            Schedules are not editable, revisions are only possible by deleting a schedule and re-adding it.<br>
                            The last added schedule overrides the previous one if they share a slot
                            <div class="alert alert-danger section action" role="alert" ng-show="error">
                                {{error}}
                            </div>
                            <div class="modal-body">
                                <div class="section action">
                                    * Select Playlist *
                                    <select class="form-control" required ng-model="playlist.clone">
                                        <option ng-repeat="p in config.playlists" ng-if="isNotClone(p)" value="{{$index}}">{{name($index, true)}}</option>
                                    </select>
                                </div>
                                <div class="section action">
                                    Weekly Day(s)
                                    <select class="form-control multiselect-ui" multiple ng-model="playlist.days">
                                        <option value="1">{{getDayName(1)}}</option>
                                        <option value="2">{{getDayName(2)}}</option>
                                        <option value="3">{{getDayName(3)}}</option>
                                        <option value="4">{{getDayName(4)}}</option>
                                        <option value="5">{{getDayName(5)}}</option>
                                        <option value="6">{{getDayName(6)}}</option>
                                        <option value="7">{{getDayName(7)}}</option>
                                    </select>
                                </div>
                                <div class="section action">
                                    Date(s)
                                    <input type="text" class="form-control date" ng-model="datePickerValue" ng-change="setPlaylistDate()">
                                </div>
                                If no Days or Dates are selected but start Time is defined, the playlist schedules daily
                                <div class="section action">
                                    * Start Time *
                                    <input type="text" class="form-control timepicker" required ng-model="playlist.start">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-info" ng-click="clear()">Clear</button>
                                <button type="button" class="btn btn-danger" id="close-clone" data-dismiss="modal" ng-click="clear()">Cancel</button>
                                <button type="submit" class="btn btn-success">Schedule</button>
                            </div>
                        </form>
                        </div>
                      </div>
                </div>
            </div>
            <div class="section">
                <!-- Clear/Delete -->
                <div class="action">
                    <button type="button" class="btn btn-danger" ng-disabled="config.playlists.length == 0" ng-click="clearConfig()">Clear</button>
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete" ng-disabled="config.playlists.length == 0">Delete Playlist(s) | Schedule(s)</button>
                    <div class="modal fade action-content" id="delete" role="dialog">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <form class="modal-content" ng-submit="delete()">
                            <div class="modal-header">
                              <h5 class="modal-title">Delete Exisiting Playlist(s) | Schedule(s)</h5>
                            </div>
                            Deleting the playlist will delete respective Schedules below it whereas deleting schedule doesn't delete the respective playlist
                            <div class="modal-body">
                                <div class="section action">
                                    Select Playlists(s) | Schedule(s)
                                    <select id="playlists-delete" class="form-control multiselect-ui" multiple ng-model="deletable">
                                        <option ng-repeat="p in config.playlists" value="{{$index}}">{{name($index, true)}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-info" ng-click="deletable = []">Clear</button>
                                <button type="button" class="btn btn-danger" id="close-delete" data-dismiss="modal" ng-click="clear()">Cancel</button>
                                <button type="submit" class="btn btn-danger" ng-disabled="deletable.length == 0">Delete Selected</button>
                            </div>
                          </form>
                        </div>
                    </div>
                </div>

                <!-- Demo/Import/Export -->
                <div class="action">
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#demo">Demo</button>
                    <div class="modal fade action-content" id="demo" role="dialog">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Telefyna Configuration Demonstration</h5>
                                  </div>
                                <div class="modal-body">
                                    <iframe width="560" height="315" src="https://www.youtube.com/embed/jTlgO9NGFdE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    <br><br><hr>
                                    <h5>Telefyna Infrastructure</h5>
                                    <img src="telefynaDesign.png" alt="Telefyna Insfrastructure"><br>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" id="close-delete" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="file" class="btn btn-info" onclick="jQuery('#import-config').click()">Import</button>
                    <input type="file" hidden id="import-config" ng-model="configFile" onchange="angular.element(this).scope().importConfig(event)">
                    <!-- Preview -->
                    <button type="button" class="btn btn-success" ng-disabled="config.playlists.length == 0" data-toggle="modal" data-target="#preview" ng-click="initPreviewData()">Preview Schedule</button>
                    <div class="modal fade action-content" id="preview" role="dialog">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content preview-print">
                                <div class="modal-header" id="print-title">
                                    <img src="telefyna.png" alt="Telefyna Icon" width="50" height="50"><br>
                                    <h4>{{config.name}}'s schedule</h4>
                                </div>
                                <!--.table-responsive breaks print-->
                                <div class="modal-body">
                                    <h5>Weekly</h5>
                                    <table class="table table-striped">
                                        <thead>
                                          <tr>
                                            <th scope="col">StartTime</th>
                                            <th scope="col">1-Sunday</th>
                                            <th scope="col">2-Monday</th>
                                            <th scope="col">3-Tuesday</th>
                                            <th scope="col">4-Wednesday</th>
                                            <th scope="col">5-Thursday</th>
                                            <th scope="col">6-Friday</th>
                                            <th scope="col">7-Saturday</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr ng-repeat="(key, program) in previewData.weekly">
                                            <td>{{program.start}}</th>
                                            <td ng-init="classifyColor(program.slots[1].color, key, 1)" class="{{program.slots[1].claz}}">{{program.slots[1].name}}</td>
                                            <td ng-init="classifyColor(program.slots[2].color, key, 2)" class="{{program.slots[2].claz}}">{{program.slots[2].name}}</td>
                                            <td ng-init="classifyColor(program.slots[3].color, key, 3)" class="{{program.slots[3].claz}}">{{program.slots[3].name}}</td>
                                            <td ng-init="classifyColor(program.slots[4].color, key, 4)" class="{{program.slots[4].claz}}">{{program.slots[4].name}}</td>
                                            <td ng-init="classifyColor(program.slots[5].color, key, 5)" class="{{program.slots[5].claz}}">{{program.slots[5].name}}</td>
                                            <td ng-init="classifyColor(program.slots[6].color, key, 6)" class="{{program.slots[6].claz}}">{{program.slots[6].name}}</td>
                                            <td ng-init="classifyColor(program.slots[7].color, key, 7)" class="{{program.slots[7].claz}}">{{program.slots[7].name}}</td>
                                          </tr>
                                        </tbody>
                                      </table>
                                      <h5>Dates</h5>
                                      <table class="table table-striped">
                                        <thead>
                                            <tr>
                                              <th scope="col">Time</th>
                                              <th scope="col">Playlist</th>
                                            </tr>
                                          </thead>
                                        <tbody>
                                          <tr ng-repeat="program in previewData.dated">
                                            <td>{{program.at}}</td>
                                            <td style="background-color:{{program.color}}">{{program.name}}</td>
                                          </tr>
                                        </tbody>
                                      </table>
                                </div>
                                <div class="modal-footer no-print">
                                    <button type="button" class="btn btn-success" onclick="jQuery('.preview-print').print({globalStyles: true, stylesheet: 'res/telefyna.css'})">Print</button>
                                    <button type="button" class="btn btn-danger" id="close-preview" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-success" ng-disabled="config.playlists.length == 0" ng-click="exportConfig()">Export</button>
                </div>
            </div>

            <!-- Results -->
            <!--div class="section config-result">
                <pre>{{config | json: 2}}</pre>
            </div-->
            <a id="export" hidden></a>
            <div id="footer">
                apps@avventohome.org
                <br>
                <label>Copyright © 2021</label>
            </div>
          </div>
    </body>
</html>
